{% import '_macros.html' as macros with context %}

<div id="header" style="padding:0.5em">
    <div>
        <!-- Ugly breadcrumb management -->
        {% if current_user.is_authenticated %}
            {% if request.path == "/" %}
                <a href="/projects">Projects</a>
            {% else %}
                {% if "projects" in request.path %}
                    <a href="/">Home</a>
                {% else %}
                    <a href="/">Home</a> | <a href="/projects">Projects</a>
                {% endif %}
            {% endif %}
            {% if current_user.role =="admin" and "admin" not in request.path %}
                | <a href="/admin">Admin</a>
            {% endif %}
        {% else %}
            {% if request.path != "/" %}
                <a href="/">Home</a>
            {% endif %}
        {% endif %}

        <!-- User management -->
        <div style="float:right;">
            {% if current_user.is_authenticated %}
            Logged as {{ current_user.username }} - <a href="{{ url_for('users.logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('users.login') }}">Login</a> | <a href="{{ url_for('users.register') }}">Signup</a>
            {% endif %}
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="divider"></div>
    <div id="stats"></div>
    <div class="divider"></div>
    {% if "admin" not in request.path %}
    <div id="messages">
        {{ macros.messages() }}
    </div>
    {% endif %}
</div>

