div#content {
    padding: 1em;
}

div#home {
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div#home #title {
    margin-top: 2em;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

.divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.5em 0;
    padding: 0;
}

.title{
    font-size: 1.5em;
    cursor: pointer;
    color: #337ab7; /*same as bootstrap.css*/
}

.title:hover, .title:focus{
    cursor: pointer;
    color: #23527c; /*same as bootstrap.css*/
}

.initiallyHidden { display: none; }
