{% extends 'admin/master.html' %}
{% from "_macros.html" import render_field %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}

<div class="title">Get annotations</div>
<div id="get_annotations" class="al-form">
    <form action="/get_annotations">
        {{ getannotations_form.csrf_token }}
        {{ render_field(getannotations_form.project, placeholder="Project") }}
        <button type="submit">Submit</button>   
    </form>
</div>
{% endblock %}

