{% extends 'admin/master.html' %}
{% from "_macros.html" import render_field %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}

<div class="title">Create project</div>
<div id="create_project" class="initiallyHidden">
    <form method="POST" action="/create_project" enctype="multipart/form-data">
        {{ createproject_form.csrf_token }}
        {{ render_field(createproject_form.name, placeholder="Name") }}
        {{ render_field(createproject_form.feedback_type) }}
        {{ render_field(createproject_form.visualization_type) }}
        {{ render_field(createproject_form.n_annotations_per_file, placeholder="# annotators per file") }}
        {{ render_field(createproject_form.allow_regions) }}
        {{ render_field(createproject_form.annotation_tags) }}
        {{ render_field(createproject_form.audio_root_url, placeholder="Audio root URL") }}
        {{ render_field(createproject_form.audios) }}
        <input type="submit" value="Go">
    </form>
</div>

<div class="title">Get annotations</div>
<div id="get_annotations" class="initiallyHidden">
    <form method="POST" action="/get_annotations">
        {{ getannotations_form.csrf_token }}
        {{ render_field(getannotations_form.project, placeholder="Project") }}
        <input type="submit" value="Go">
    </form>
</div>
{% endblock %}

{% block tail_js %}

{{ super() }}

<script type="text/javascript">

$("div.title").click(function(){
        $(this).next('div').toggle();
});

</script>

{% endblock %}
